@{
    ViewData["Title"] = "Principal";
}

<div class="conteiner">
    <div class="sidebar">
        <h2>Categorias</h2>
    </div>
    <div class="main">
        <h2>Catalogo</h2>
    </div>
</div>
